body {
    background-color: #232946;
    background-image: url(../IMG/Sprinkle\ 02.svg);
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.profil-container {
    color: white;
    max-width: 600px;
    margin: 120px auto;
    padding: 20px;
    background-color: #1c2533;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.profil-info {
    margin-top: 2px;
    width: 100%;
    border-bottom: solid #ecf0f1 1px;
    height: 180px;
    font-size: 28px;
    text-align: center;
}

.profil-info label {
    font-weight: bold;
    margin-bottom: 10px;
}

.feature, .btn-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    background-color: #3b4cca;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #576dff;
    transform: scale(1.05);
}

#delete-account:hover {
    background-color: red;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    height: 100vh;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile p {
    margin: 10px 0;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    color: #ecf0f1;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}

header input {
    width: 300px;
    padding: 10px;
}

.user-menu {
    position: relative;
    cursor: pointer;
}

.user-menu span {
    background-color: #ecf0f1;
    color: #2c3e50;
    padding: 10px;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #34495e;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 0;
}

.user-menu:hover .dropdown-menu {
    display: block;
}

.orders {
    margin-top: 20px;
}

.orders h2 {
    margin-bottom: 10px;
}

#namaprofil {
    font-size: 25pt;
}